[Unit]
Description=OSApi Service
After=network.target

[Service]
ExecStart=/bin/bash -c '/root/data/osapi/osapi -cfg /root/data/osapi/config/config.toml > /root/data/osapi/log/run.log 2>&1'
WorkingDirectory=/root/data/osapi
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target