[Unit]
Description=OSApi Service
After=network.target

[Service]
ExecStart=/root/data/osapi/osapi
WorkingDirectory=/root/data/osapi
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target